
.body-content {
    background-color: #949494;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: medium;
}

.dl-horizontal dt {
    white-space: normal;
}
body {
    background-image: url(Images/site-background.jpg);
    background-repeat: repeat-y;
}


input,
select,
textarea {
    max-width: 280px;
}

.fa-star {
    color: grey; 
    font-size: 24px;
    cursor: pointer;
}

.fa-star.liked {
        color: gold;
    }

